<mat-drawer-container autosize
    class="h-100">
    <mat-drawer mode="side"
        opened>

        <mat-list>
            <div mat-subheader>Armée</div>

            <mat-list-item [routerLink]="['army', 'creation']"
                routerLinkActive="active-link">
                Création
            </mat-list-item>

            <mat-list-item [routerLink]="['army', 'edition']"
                routerLinkActive="active-link">
                Modification
            </mat-list-item>
        </mat-list>

    </mat-drawer>

    <div>
        <router-outlet>

        </router-outlet>
    </div>
</mat-drawer-container>